# INSTRUÇÕES DE SETUP INICIAL:
# 1. Variáveis de Ambiente: 
#    Na raiz do projeto, crie o arquivo .env a partir do template: cp .env.example .env
#
# 2. Ferramentas Globais:
#    Na raiz do projeto, instale as dependências: npm install
#
# 3. Configuração do Backend (Terminal local):
#    cd dadlandbackend
#    pyenv install -s
#    python -m venv venv
#    source venv/bin/activate
#    pip install -r requirements.txt
#
# 4. Configuração do Frontend:
#    No frontend do projeto, instale as dependências: npm install
#
# 5. Subir a Infraestrutura (Docker):
#    cd ../dadlandinfra
#    docker compose up -d --build
#
# 6. docker compose exec backend python manage.py createsuperuser
 
# CONFIGURAÇÕES DO BANCO DE DADOS (Usado pelo DB e Django)
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASSWORD=senha
DB_HOST=localhost 
DB_PORT=5432

# URL PARA O DJANGO LOCAL (TERMINAL)
DATABASE_URL=postgres://usuario:senha@localhost:5432/nome_do_banco

# CONFIGURAÇÕES DO DJANGO (SEGURANÇA)
DEBUG=True
SECRET_KEY="Chave_de_Segurança"
ALLOWED_HOSTS=localhost,127.0.0.1,backend,0.0.0.0

# CONFIGURAÇÕES DO FRONTEND
NEXT_PUBLIC_API_URL=http://localhost:8000
INTERNAL_BACKEND_URL=http://backend:8000