# INSTRUÇÕES DE SETUP INICIAL:
# 1. Faça uma cópia deste arquivo na raiz do projeto e renomeie para ".env".
# 2. Preencha as variáveis abaixo com os valores reais do seu ambiente.
# 3. CRUCIAL: Crie o link simbólico na pasta de infraestrutura rodando: cd dadlandinfra && ln -s ../.env .env && cd ..
# 4. Suba os contêineres a partir da raiz do projeto com o comando: docker-compose -f dadlandinfra/docker-compose.yml up -d --build
 
# CONFIGURAÇÕES DO BANCO DE DADOS (Usado pelo DB e Django)
DB_NAME=nome_do_banco
DB_USER=usuario
DB_PASSWORD=senha
DB_HOST=localhost 
DB_PORT=5432

# CONFIGURAÇÕES DO DJANGO (Segurança)
DEBUG=True
SECRET_KEY=chave_de_seguranca
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# CONFIGURAÇÕES DO FRONTEND (Next.js/React)
NEXT_PUBLIC_API_URL=http://localhost:8000

# Formato: postgres://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=postgres://usuario:senha@localhost:5432/nome_do_banco